body{
    margin: 0;
    padding: 0;
}

#background{
    background: rgb(0, 0, 0, .25);
}

#container_comentary{
    width: 350px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 248, 255);
    border-radius: 20px;
}

#comentary{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back{
    background-color: rgb(30, 156, 30);
    width: 75px;
    height: 40px;
}

.back img{
    width: 70px;
    height: 35px;
}

.gif_move_coment{
    width: 325px;
    height: 325px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.gif_move_coment img{
    width: 320px;
    height: 320px;
}

.seccion_comentarios {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.Comentario {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: calc(100% - 40px - 40px);
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.edit_erase{

}

.new_comentary{
    
}