@font-face {
  font-family: 'MatisseProUB';
  src: url('../fonts/FOT-Matisse_Pro_UB.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SerpentineRegular';
  src: url('../fonts/Serpentine\ Becker\ Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'serpentineBold';
  src: url('../fonts/serpentineBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#smash{
    width: 6%;
    margin-right: 10px;
}

#logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

#nombre{
    font-family: 'MatisseProUB', sans-serif;
    font-size: 135%;
    color: black;
    white-space: nowrap;
}

#header_principal{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 15px;
}

nav li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: black;
    font-weight: bold;
    padding: 8px 12px;
    font-size: 100%;
    border-radius: 4px;
    font-family: 'MatisseProUB', sans-serif;
}

#letrero_info {
    width: 100%;
    max-width: 100%;
    background-size: cover;
}

#info_title{
    font-family: 'SerpentineRegular', sans-serif;
    background-color: black;
    font-size: 80px;
    text-align: center;
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
}

#letrero_info img{
    width: 100%;
    max-width: 100%;
    background-size: cover;
}

#info_letter{
    font-family: 'SerpentineRegular', sans-serif;
    background-image: url(../img/cuadro_con_patron.png);
    font-size: 80px;
    text-align: center;
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
}

.box_character{
    height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
}

#container_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 275px;
    box-shadow: 0 0 20px black;
}

.card{
    width: 300px;
    height: auto;
    background-color: aliceblue;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 20px black;
}

.card_move{
    width: 300px;
    height: auto;
    background-color: aliceblue;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 20px black;
}

.move{
    display: flex;
    justify-content: center;
    height: 350px;
    background: linear-gradient(#6dbdff, #56b3ff, #0954b6,#229cff,#6dbdff);
    border-radius: 10px 10px 0px 0px;
}

.move img{
    width: 100%;
    height: auto;
}

.character{
    display: flex;
    justify-content: center;
    height: 325px;
    background: linear-gradient(#6dbdff, #56b3ff, #0954b6,#229cff,#6dbdff);
    border-radius: 10px 10px 0px 0px;
}

.character img{
    padding: 10px;
    width: 270px;
    height: auto;
}

.number_character{
    position: absolute;
    display: flex;
    justify-content: center;
    background: #000;
    width: 100px;
    height: 65px;
    border-radius: 0px 5px 10px 10px;
    color: #434343;
    font-size: 50px;
    transform: translatex(100%);
}

.favorite_character{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: aliceblue;
    width: 70px;
    height: 70px;
    transform: translatex(-155%);
    border-radius: 50px;
}

.favorite_character img{
    width: 55px;
    height: 55px;
}

.name_character{
    width: 100%;
    text-align: center;
    padding: 5px;
    height: auto;
    background-color: black;
    color: white;
    font-size: 30px;
    box-sizing: border-box;
    font-family: 'MatisseProUB', sans-serif;
}

#box_coment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    gap: 40px;
}

#box_coment img{
    width: 100px;
    height: 100px;
}

#box_coment_move{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    gap: 40px;
}

#box_coment_move img{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#img_coment img{
    width: 80px;
    height: 80px;
}

#favorite_move{
    position: absolute;
    display: flex;
    justify-content: center;
    background: #000;
    width: 100px;
    height: 65px;
    border-radius: 0px 5px 10px 10px;
    transform: translateX(200%);
}

.decoration_top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 50px;
    font-family: 'MatisseProUB', sans-serif;
    font-size: 25px;
    padding: 5px;
    box-sizing: border-box;
    color: aliceblue;
    background: linear-gradient(110deg,#e41a1a, #e41a1a, #e41a1a, #e41a1a, #e41a1a,#262727, #000000);
}

.scroll_character{
    width: 550px;
    height: 550px;
    padding: 10px;
    overflow: auto;
    background-color: aliceblue;
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;
}

#container_move{
    padding: 5px;
    height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.favorite_move{
    position: absolute;
    display: flex;
    justify-content: center;
    background: #000;
    width: 100px;
    height: 65px;
    border-radius: 0px 5px 10px 10px;
    color: #434343;
    font-size: 50px;
    transform: translatex(100%);
}

#content_stage{
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#margin_stage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.container_stage img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

/*--comentary--*/



#page-wrapper {
    padding-top: 20px;
    display: none; 
}

#container_comentary {
    width: 350px;
    height: auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 248, 255); 
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; 
}

.back {
    background-color: rgb(30, 156, 30); 
    width: 20%; 
    height: 40px;
    display: flex;
    float: left;
    align-items: center;
    padding-left: 10px;
}

.back img {
    width: 30px; 
    height: 30px;
}

.gif_move_coment {
    width: 100%;
    max-width: 340px; 
    height: 325px; 
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 5px 0 15px 0; 
    overflow: hidden;
}

.gif_move_coment img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}



.lista_comentarios_publicados {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px; 
    padding: 0 5px; 
}

.comentario-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 330px; 
    background-color: #e0e0e0; 
    border-radius: 5px;
    padding: 8px 0 8px 10px;
    margin: 2px auto;
    height: 15px; 
    overflow: hidden;
}

.texto-comentario {
    flex-grow: 1; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    font-size: 14px;
}

.accion-comentario {
    background-color: black;
    color: white;
    border: none;
    padding: 0 10px; 
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    line-height: 15px; 
    margin-left: 10px;
}



.seccion_nuevo_comentario {
    width: 100%;
    padding: 10px;
    background-color: #c7a400; 
    margin-top: 10px;
}

.input-nuevo-comentario {
    background-color: #6d5b0c;
    width: calc(100% - 20px); 
    padding: 8px;
    border: 1px solid #9c7f00;
    border-radius: 5px;
    font-size: 14px;
    color: aliceblue;
}

/*--*/

footer{
    background: #000;
    width: 100%;
    height: 200px;
}
