@font-face {
  font-family: 'MatisseProUB';
  src: url('../fonts/FOT-Matisse_Pro_UB.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
 
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(110deg,#7444c4, #5d56e7, #4163db, #2b6dd1, #86b7ff);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
 
#header_principal{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}
 
 
/*-----Navegador-----*/
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 15px;
}
 
nav li a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: black;
    font-weight: bold;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 4px;
    font-family: 'MatisseProUB', sans-serif;
}
 
#logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
 
#nombre{
    font-family: 'MatisseProUB', sans-serif;
    font-size: 30px;
    color: black;
    white-space: nowrap;
}
 
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}
 
#log_in{
    width: 400px;
    height: auto;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
}
 
#title{
    font-family: 'MatisseProUB', sans-serif;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
 
#title img{
    height: 70px;
}
 
#content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
 
label{
    font-family: 'MatisseProUB', sans-serif;
    margin-left: 20px;
}
 
input{
    font-family: 'MatisseProUB', sans-serif;
    border-radius: 20px;
    height: 30px;
    width: 60%;
    margin-left: 20px;
    text-align: center;
}
 
#smash{
    width: 60px;
    margin-right: 10px;
}
 
#button_log_in{
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 10px;
}
 
button{
    clip-path: polygon(
        10% 0%,
        0% 0,
        100% 0%,
        90% 100%,
        0% 100%
    );
    border-radius: 0px 0px 0px 0px;
    font-family: 'MatisseProUB', sans-serif;
    color: white;
    font-size: 20px;
    width: 60%;
    background: linear-gradient(110deg,#e41a1a, #e41a1a, #e41a1a, #e41a1a, #e41a1a,#262727, #000000);
    cursor: pointer;
}
 
.btn_session{
    border: 2px solid #ebe831;
}
 
#not_account{
    font-family: 'MatisseProUB', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 25px;
    gap: 5px;
    text-align: center;
}
 
#not_account a{
    color: #e41a1a;
}
 
#content{
    font-size: 20px;
}
 
#coment_button{
    text-align: center;
}
 
#logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
 
#nombre{
    font-size: 30px;
    color: black;
    white-space: nowrap;
}
 
footer{
    background: #000;
    width: 100%;
    height: 200px;
}